extends app.pug

block card
  section.flashcards
    .card(class=`card-${side}`)
      .card-header
      h1.card-title= side
      #content
        h2= text
        if hint
          p#hint
            i Hint: #{hint}
      .card-flip-wrap
        a(href=`${id}?side=${sideToShow}`)
          img.card-flip(src='/public/img/flip.svg')
      .card-next
        a(href=href=`/cards`)
          img(src='/public/img/next.svg')
    //- script(src='app.js')

//- //- templateData ---
//- //- {
//- //-   id: '2',
//- //-   text: "What is a common ...?",
//- //-   name: 'Hannah',
//- //-   sideToShow: 'answer',
//- //-   hint: 'It has the same abbreviation as "resolution"',
//- //-   sideToShowDisplay: 'Answer',
//- //-   _locals: [Object: null prototype] {}
//- //- }

//- block cards
//-   //- section#content
//-   //-   //ul 
//-   //-     each color in colors
//-   //-       li= color
//-   //-   h2= text
//-   //-   if hint
//-   //-     p
//-   //-       i Hint: #{hint}
//-   //-   a(href=`${id}?side=${sideToShow}`)= sideToShowDisplay
//-   //-   br
//-   //-   br
//-   //-   a(href=`/cards`) Next card
//-   section.flashcards
//-     .card(class=sideToShowDisplay==='question'  ? 'card-question' : 'card-answer')
//-       .card-header
//-       h1.card-title= sideToShowDisplay
//-       #content
//-         h2= text
//-         if hint
//-           p#hint
//-             i Hint: #{hint}
//-       .card-flip-wrap
//-         a(href=`${id}?side=${sideToShow}`)
//-           img.card-flip(src='/public/img/flip.svg')
//-       .card-next
//-         a(href=href=`/cards`)
//-           img(src='/public/img/next.svg')
  
